@using Microsoft.AspNetCore.Identity;
@using PoshBay.Data.Models;
@using Microsoft.Extensions.Options;
@inject IOptions<PoshBay.Services.StripeConfiguration> _strip;
@inject SignInManager<ApplicationUser> manager;
@model PoshBay.Data.ViewModels.CheckOutViewModel


@{
    ViewData["Tttle"] = "Payment";
}

<div>
</div>

<div class="w-100 d-flex justify-content-start border-0">

    <div>
        <form asp-action="StripePayment" asp-controller="CheckOut" method="post" class="form w-100">
            
            
            <p class=" display-4"> Proceed To Payment</p>
            <article class="my-3">
                <label class="px-5 py-3 bg-white shadow-sm"> <span class="fw-bold">Amount:</span> <span class="text-success"> $@Model.Amount</span>  </label>
            </article>
            <div class="d-flex justify-content-start align-items-center w-100">
                <script src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-key="_strip.Value.PublishableKey"
                        data-locale="auto"
                        data-description="Sample Charge">
                </script>
                <a class="btn btn-success ms-4" asp-controller="Cart" asp-action="ViewCart" asp-route-appUserEmail="@User.Identity.Name"> Back To Cart </a>
            </div>
            
        </form>
    </div>
    

</div>