

<div style="align-content:center" class="text-center">
     <h5 class="text-dark"> Password reset link sent </h5>
     <h5 class="mt-2"> @Html.ActionLink("Back To Home", "Index", "Home") </h5>
</div>
