@model PoshBay.Data.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create a New Product";
}

<h1>@ViewData["Title"]</h1>



<section>
    <div class="container">
        <form enctype="multipart/form-data" method="post" class="row d-flex justify-content-center align-items-center h-100" 
                        asp-controller="Product" asp-action="Create">
            <div class="col-xl-9">

                @*Display an error message if image could not be added*@
                 <span class="text-danger my-2">@TempData["Error"]</span>
                 <span asp-validation-summary="ModelOnly"></span>
                 
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        
                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <label asp-for="Name" class="mb-0"></label>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input asp-for="Name" type="text" class="form-control form-control-lg" placeholder="Enter Product Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>

                            </div>
                        </div>

                        <hr class="mx-n3">
                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">
                                
                                <label asp-for="Price" class="mb-0"></label>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input asp-for="Price" type="text" class="form-control form-control-lg" placeholder="Enter Product Price" />
                                <span asp-validation-for="Price" class="text-danger"></span>


                            </div>
                        </div>
                        
                        <hr class="mx-n3">
                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <label asp-for="QuantityInStock" class="mb-0"></label>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input asp-for="QuantityInStock" type="text" class="form-control form-control-lg" placeholder="Enter Quantity in Stock" />
                                <span asp-validation-for="QuantityInStock" class="text-danger"></span>


                            </div>
                        </div>
                        
                        <hr class="mx-n3">
                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <label asp-for="CategoryId" class="mb-0"></label>
                                
                            </div>
                            <div class="col-md-9 pe-5">
                               <select asp-for="CategoryId"  type="text" class="form-control form-control-lg"> 
                                @foreach(var item in ViewBag.Message)
                                { 
                                  <option value="@item.CategoryId">@item.Name</option>    
                                }
                                </Select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>   
                            </div>
                        </div>

                        <hr class="mx-n3">
                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <label asp-for="Description" class="mb-0"></label>

                            </div>
                            <div class="col-md-9 pe-5">

                                <textarea asp-for="Description" type="email" class="form-control form-control-lg" placeholder="Description of the Product" ></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>


                            </div>
                        </div>
                        <hr class="mx-n3">


                        <hr class="mx-n3">
                        <div class="custom-file w-100">
                            <label asp-for="ImagePath" class="mb-0 custom-file-label"></label>
                            <input asp-for="ImagePath" type="file" class="custom-file-input" />
                            <span asp-validation-for="ImagePath"></span>

                        </div>

                        <hr class="mx-n3">
                        
                        <div class="d-flex flex-row justify-content-center">
                            <div class="px-5 py-4">
                                <button type="submit" class="btn btn-primary btn-lg">Create Product</button>
                            </div>

                            <div class="px-5 py-4">
                                <button type="button" class="btn btn-primary btn-lg">
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg">List of Products</a>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>
</section>
